header {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.h1 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 60px;
  text-align: center;
  color: #c85250;
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #e9eae0, 10px 10px 0px #f7bec0;
}

.div {
  background-color: #e7625f;
  color: #e9eae0;
  padding-left: 30px;
  padding-top: 45px;
  width: 680px;
  height: 350px;
  margin-left: 110px;
  padding-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.div p {
  line-height: 2;
}

.div h2 {
  margin-top: 1px;
}

.div2 {
  background-color: #f9f1f0;
  color: #aa1945;
  padding-left: 40px;
  padding-top: 60px;
  width: 680px;
  height: 20px;
  margin-left: 110px;
  padding-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.div2 p {
  line-height: 2;
  margin-top: 20px;
}
.div2 h2 {
  margin-top: 1px;
  font-size: 40px;
  text-align: center;
  font-size: 50px;
}

.div3 {
  background-color: #f9f1f0;
  color: #aa1945;
  padding-left: 10px;
  padding-top: 60px;
  width: 680px;
  height: 350px;
  margin-right: 100px;
  padding-right: 100px;
  display: inline-block;
  vertical-align: top;
}

.div3 p {
  line-height: 2;
  margin-top: 20px;
}
.div3 h2 {
  margin-top: 1px;
  font-size: 40px;
  text-align: center;
  font-size: 50px;
}

.div4 {
  background-color: #f9f1f0;
  color: #aa1945;
  padding-left: 10px;
  padding-top: 60px;
  width: 680px;
  height: 350px;
  margin-right: 100px;
  padding-right: 100px;
  display: inline-block;
  vertical-align: top;
}

.div4 p {
  line-height: 2;
  margin-top: 20px;
}
.div4 h2 {
  margin-top: 1px;
  font-size: 40px;
  text-align: center;
  font-size: 50px;
}

.topbar {
  overflow: hidden;
  position: fixed;
  background-color: white;
  border: 1px ridge white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 55px;
  z-index: 1;
  top: 0;
  width: 100%;
}

.logo {
  float: left;
  margin-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.baritem1::after {
  border-color: #21b6a8;
  border-top-width: 0.26rem;
  width: 100px;
  margin-left: 915px;
  border-top-style: solid;
  -webkit-border-radius: 0.15px 0.15px 0 0;
  border-radius: 0.15px 0.15px 0 0;
  bottom: -0.125rem;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.rightlinks {
  float: right;
  margin-right: 20px;
}

.topbar a {
  float: left;
  color: #21b6a8;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topbar a:hover {
  background-color: #21b6a8;
  color: white;
  height: 55px;
}
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 5;
  height: 200px;
  top: 0;
  left: 0;
  background-color: #21b6a8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 14px 14px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  text-shadow: 2px 2px 5px gray;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 18px;
  cursor: pointer;
  color: #21b6a8;
  background-color: white;
  padding: 12px 12px;
  border: none;
  margin-top: 4px;
}

.openbtn:hover {
  background-color: #21b6a8;
  color: white;
  height: 50px;
  margin-top: 4px;
  padding: 12px 12px;
}
.container {
  flex-direction: row;
  display: flex;
  background-color: #e7625f;
  margin-right: 15px;
  height: 430px;
}

.container2 {
  flex-direction: row;
  display: flex;
  background-color: #f9f1f0;
  margin-right: 20px;
  height: 900px;
  align-content: center;
  padding-left: 220px;
}

.container3 {
  flex-direction: row;
  display: flex;
  background-color: #f9f1f0;
  margin-right: 20px;
  height: 960px;
  align-content: center;
  padding-left: 360px;
}

.container4 {
  flex-direction: row;
  display: flex;
  background-color: #f9f1f0;
  margin-right: 20px;
  height: 890px;
  align-content: center;
  padding-left: 360px;
}

.parallax {
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
  background-image: url("data5.jpg");
  height: 300px;
  width: 1389px;
}

#parallax2 {
  background-image: url("data6.jpg");
  height: 300px;
  width: 1389px;
}

#parallax3 {
  background-image: url("data24.jpg");
  height: 300px;
  width: 1389px;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.data {
  background-color: #e9eae0;
  border: none;
  color: #e7625f;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 1px 2px;
  cursor: pointer;
  border: 4px solid black;
  margin-left: 1px;
  border-radius: 8px;
  transition: 0.2s;
}

.data:hover {
  background-color: #aa1945;
  color: #e9eae0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.announcements {
  background-color: #aa1945;
  border: none;
  color: #e9eae0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 1px 2px;
  cursor: pointer;
  border: 4px solid black;
  margin-left: 30px;
  border-radius: 8px;
  transition: 0.2s;
}

.announcements:hover {
  background-color: #e9eae0;
  color: #e7625f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  box-sizing: border-box;
  border: 4px solid black;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 22px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#day1,
#day2,
#day3,
#day4,
#day5,
#day6,
#day7,
#day8,
#day9,
#day10,
#day11,
#day12,
#day13,
#day14,
#day15 {
  font-size: 23px;
}

#q1,
#q2,
#q3,
#q4,
#q5,
#q6,
#q7,
#q8,
#q9,
#q10,
#q11,
#q12,
#q13,
#q14,
#q15 {
  font-size: 23px;
  border-radius: 8px;
}

#submit {
  background-color: #aa1945;
  border: none;
  color: #f9f1f0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 1px 2px;
  cursor: pointer;
  border: 4px solid black;
  font-weight: bold;
  margin-left: 40px;
  border-radius: 8px;
  transition: 0.2s;
}

#submit:hover {
  background-color: #f9f1f0;
  color: #aa1945;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit1 {
  background-color: #aa1945;
  border: none;
  color: #f9f1f0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  border: 4px solid black;
  font-weight: bold;
  margin-left: 30px;
  margin-top: -300px;
  border-radius: 8px;
  transition: 0.2s;
}

#submit1:hover {
  background-color: #f9f1f0;
  color: #aa1945;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit1::after {
  background-color: #f9f1f0;
  color: #aa1945;
}

#submit2 {
  background-color: #aa1945;
  border: none;
  color: #f9f1f0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  border: 4px solid black;
  font-weight: bold;
  margin-left: 30px;
  margin-top: -300px;
  border-radius: 8px;
  transition: 0.2s;
}

#submit2:hover {
  background-color: #f9f1f0;
  color: #aa1945;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#submit2::after {
  background-color: #f9f1f0;
  color: #aa1945;
}

#reset1 {
  background-color: #aa1945;
  border: none;
  color: #f9f1f0;
  padding: 8px 15px;
  text-decoration: none;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border: 4px solid black;
  font-weight: bold;
  margin-left: 200px;
  border-radius: 8px;
  transition: 0.2s;
}

#reset1:hover {
  background-color: #f9f1f0;
  color: #aa1945;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footerFormContainer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #aa1945;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 4s;
  animation-name: animatebottom;
  animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.mega,
.bola {
  line-height: 1.65em;
  font-weight: bold;
  font-size: 11em;
  color: black;
  font-family: "Roboto", sans-serif;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 40%;
  top: 80%;
  margin-left: -150px;
  margin-top: -150px;
}

.boom {
  color: #f5f5f5;
}

.bgimg {
  background-image: url("data25.jpg");
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#join {
  background-color: #e7625f;
  color: #e9eae0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  border: 4px solid black;
  font-weight: bold;
  margin-left: 160px;
  border-radius: 8px;
  margin-top: -120px;
  transition: 0.2s;
}

#join:hover {
  background-color: #e9eae0;
  color: #aa1945;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hr {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footerContainer {
  margin-right: 20px;
  margin-left: 15px;
  height: 300px;
}

.leftCol {
  margin-top: 40px;
}

.milCol {
  margin-top: 40px;
  float: middle;
  margin-left: 500px;
}

.rightCol {
  margin-top: -210px;
  float: right;
  margin-right: 350px;
}

.aboutCol {
  margin-top: 100px;
  margin-left: 1130px;
  width: 280px;
}

.aboutCol div {
  margin-top: -220px;
}

#footerText {
  margin-bottom: 50px;
  font-weight: 700;
  margin-left: 80px;
  font-size: 25px;
  float: left;
}

#footerP {
  font-weight: 700;
  margin-left: 125px;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
  position: relative;
  float: left;
}

.footerP1 {
  font-weight: 700;
  margin-left: 125px;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
  position: relative;
  float: left;
  border-bottom: 1px dotted black;
  cursor: help;
}

#footerP2 {
  font-weight: 700;
  margin-left: 85px;
  font-size: 20px;
  margin-top: -233px;
  letter-spacing: 1px;
  position: relative;
  float: left;
}

.footerP1 .toolTip {
  visibility: hidden;
  width: 160px;
  background-color: black;
  border: 3px solid #e7625f;
  opacity: 0;
  transition: opacity 1s;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -80px;
  font-size: 15px;
}

.footerP1 .toolTip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #e7625f transparent transparent transparent;
}

.footerP1:hover .toolTip {
  visibility: visible;
  opacity: 1;
}

.footerLink {
  margin-top: 90px;
  font-weight: 500;
  margin-left: -84px;
  font-size: 20px;
  list-style-type: none;
  float: left;
  text-align: left;
  line-height: 2;
  display: list-item;
}

.footerLink a {
  color: black;
  transition: 0.3s;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 50px;
  text-decoration: none;
  line-height: 2;
}

.footerLink a:hover {
  opacity: 1;
  color: #21b6a8;
}

.footerLink1 {
  margin-top: 140px;
  font-weight: 500;
  margin-left: -103px;
  font-size: 20px;
  list-style-type: none;
  float: left;
  text-align: left;
  line-height: 2;
  display: list-item;
}

.footerLink1 a {
  color: black;
  transition: 0.3s;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 50px;
  text-decoration: none;
  line-height: 2;
}

.footerLink1 a:hover {
  opacity: 1;
  color: #21b6a8;
}

.footerLink2 {
  margin-top: 190px;
  font-weight: 500;
  margin-left: -174px;
  font-size: 20px;
  list-style-type: none;
  float: left;
  text-align: left;
  line-height: 2;
  display: list-item;
}

.footerLink2 a {
  color: black;
  transition: 0.3s;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 50px;
  text-decoration: none;
  line-height: 2;
}

.footerLink2 a:hover {
  opacity: 1;
  color: #21b6a8;
}

.footerLink3 {
  margin-top: 190px;
  font-weight: 500;
  margin-left: -86px;
  font-size: 20px;
  list-style-type: none;
  float: left;
  text-align: left;
  line-height: 2;
  display: list-item;
}

.footerLink3 a {
  color: black;
  transition: 0.3s;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 50px;
  text-decoration: none;
  line-height: 2;
}

.footerLink3 a:hover {
  opacity: 1;
  color: #21b6a8;
}

.footerLink4 {
  margin-top: 140px;
  font-weight: 500;
  margin-left: -86px;
  font-size: 20px;
  list-style-type: none;
  float: left;
  text-align: left;
  line-height: 2;
  display: list-item;
}

.footerLink4 a {
  color: black;
  transition: 0.3s;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 50px;
  text-decoration: none;
  line-height: 2;
}

.footerLink4 a:hover {
  opacity: 1;
  color: #21b6a8;
}
.footerLink5 {
  margin-top: -220px;
  font-weight: 500;
  margin-left: 86px;
  font-size: 20px;
  list-style-type: none;
  float: left;
  text-align: left;
  line-height: 2;
  display: list-item;
}

.footerLink5 a {
  color: black;
  transition: 0.3s;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 50px;
  text-decoration: none;
  line-height: 2;
}

.footerLink5 a:hover {
  opacity: 1;
  color: #21b6a8;
}

#input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 70px 0;
  margin-bottom: 50px;
  margin-left: -230px;
  box-sizing: border-box;
  font-size: 20px;
}

#input {
  border-radius: 5px;
  border: none;
  border-bottom: 3px solid #e7625f;
  background-color: #e9eae0;
  font-size: 15px;
}

#input::placeholder {
  font-style: italic;
}

#tag {
  color: white;
  background-color: grey;
  line-height: 2;
  margin-right: 10px;
  padding: 3px 3px;
}
