header {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.h1 {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 60px;
  text-align: center;
  color: #c85250;
  font-family: "Niconne", cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #e9eae0, 10px 10px 0px #f7bec0;
}

.div {
  background-color: #e7625f;
  color: #e9eae0;
  padding-left: 40px;
  padding-top: 60px;
  width: 680px;
  height: 350px;
  margin-left: 110px;
  padding-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.div p {
  line-height: 2;
}

.div h2 {
  margin-top: 1px;
}

.div1 {
  background-color: #e7625f;
  color: #e9eae0;
  padding-left: 40px;
  padding-top: 60px;
  width: 680px;
  height: 350px;
  margin-left: 110px;
  padding-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.div1 p {
  line-height: 2;
  margin-top: 20px;
}
.div1 h2 {
  margin-top: 1px;
  font-size: 40px;
}

.div2 {
  background-color: #e7625f;
  color: #e9eae0;
  padding-left: 40px;
  padding-top: 60px;
  width: 680px;
  height: 350px;
  margin-left: 110px;
  padding-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.div2 p {
  line-height: 2;
  margin-top: 20px;
}
.div2 h2 {
  margin-top: 1px;
  font-size: 40px;
  text-align: center;
  font-size: 50px;
}

.div3 {
  background-color: #e7625f;
  color: #e9eae0;
  padding-left: 40px;
  padding-top: 60px;
  width: 680px;
  height: 200px;
  margin-left: 110px;
  padding-right: 30px;
  display: inline-block;
  vertical-align: top;
}

.div3 p {
  line-height: 2;
  margin-top: 20px;
}
.div3 h2 {
  margin-top: 1px;
  font-size: 40px;
  text-align: center;
  font-size: 50px;
}

.topbar {
  overflow: hidden;
  position: fixed;
  background-color: white;
  border: 1px ridge white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 55px;
  z-index: 1;
  top: 0;
  width: 100%;
}

.logo {
  float: left;
  margin-left: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.rightlinks {
  float: right;
  margin-right: 20px;
}

.topbar a {
  float: left;
  color: #21b6a8;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topbar a:hover {
  background-color: #21b6a8;
  color: white;
  height: 55px;
}

.form {
  background-color: #e7625f;
  border: none;
  color: #e9eae0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 20px 2px;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 8px;
}

.form:hover {
  background-color: #e9eae0;
  color: #aa1945;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data {
  background-color: #e9eae0;
  border: none;
  color: #e7625f;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  border: 4px solid black;
  margin-left: 20px;
  border-radius: 8px;
}

.data:hover {
  background-color: #aa1945;
  color: #e9eae0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
  flex-direction: row;
  display: flex;
  background-color: #e7625f;
  margin-right: 20px;
}

.container1 {
  flex-direction: row;
  display: flex;
  background-color: #e7625f;
  margin-right: 20px;
  height: 500px;
}

.container2 {
  flex-direction: row;
  display: flex;
  background-color: #e7625f;
  margin-right: 20px;
  height: 1060px;
  align-content: center;
  padding-left: 220px;
}

.container3 {
  flex-direction: row;
  display: flex;
  background-color: #e7625f;
  margin-right: 20px;
  height: 410px;
}

.parallax {
  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
  background-image: url("data2.jpg");
  height: 300px;
  width: 1389px;
}

#parallax2 {
  background-image: url("data3.jpg");
  height: 300px;
  width: 1389px;
}

#parallax3 {
  background-image: url("coolbackground.jpg");
  height: 300px;
  width: 1389px;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.about {
  background-color: #e7625f;
  border: none;
  color: #e9eae0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 40px 2px;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 8px;
}

.about:hover {
  background-color: #e9eae0;
  color: #aa1945;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.haveFun {
  background-color: #e7625f;
  border: none;
  color: #e9eae0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 40px 2px;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 8px;
  margin-left: 20px;
}

.haveFun:hover {
  background-color: #e9eae0;
  color: #aa1945;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 4px solid black;
  font-size: 15px;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 22px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#name1 {
  font-size: 30px;
}

#email1 {
  font-size: 30px;
}
#subject1 {
  font-size: 30px;
}

#message1 {
  font-size: 30px;
}

#name,
#email,
#subject {
  font-size: 20px;
  border-radius: 6px;
}

#message {
  height: 200px;
  border-radius: 8px;
}

#p {
  font-size: 18px;
}

#submit {
  background-color: #e7625f;
  border: none;
  color: #e9eae0;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 10px 2px;
  cursor: pointer;
  border: 4px solid black;
  font-weight: bold;
  margin-left: 270px;
  border-radius: 8px;
}

#submit:hover {
  background-color: #e9eae0;
  color: #aa1945;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footerFormContainer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100px;
  height: 100px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #aa1945;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 4s;
  animation-name: animatebottom;
  animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 150px;
  perspective: 1000px;
  margin-bottom: 12px;
  display: flex;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #e7625f;
  color: #e9eae0;
}

.flip-card-back {
  background-color: #821d30;
  color: #f7d6d0;
  transform: rotateY(180deg);
}

/* other flip card */

.flip-card1 {
  background-color: transparent;
  width: 300px;
  height: 150px;
  perspective: 1000px;
  margin-left: 360px;
  margin-top: -180px;
  margin-bottom: 30px;
  display: flex;
}

.flip-card1-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card1:hover .flip-card1-inner {
  transform: rotateY(180deg);
}

.flip-card1-front,
.flip-card1-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card1-front {
  background-color: #e7625f;
  color: #e9eae0;
}

.flip-card1-back {
  background-color: #821d30;
  color: #f7d6d0;
  transform: rotateY(180deg);
}

/* flipcard 3 */

.flip-card2 {
  background-color: transparent;
  width: 300px;
  height: 150px;
  perspective: 1000px;
  margin-left: 720px;
  margin-top: -180px;
  display: flex;
}

.flip-card2-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card2:hover .flip-card2-inner {
  transform: rotateY(180deg);
}

.flip-card2-front,
.flip-card2-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card2-front {
  background-color: #e7625f;
  color: #e9eae0;
}

.flip-card2-back {
  background-color: #821d30;
  color: #f7d6d0;
  transform: rotateY(180deg);
}

/* flipcard 4 */

.flip-card3 {
  background-color: transparent;
  width: 300px;
  height: 150px;
  perspective: 1000px;
  margin-left: 1080px;
  margin-top: -150px;
  display: flex;
}

.flip-card3-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card3:hover .flip-card3-inner {
  transform: rotateY(180deg);
}

.flip-card3-front,
.flip-card3-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card3-front {
  background-color: #e7625f;
  color: #e9eae0;
}

.flip-card3-back {
  background-color: #821d30;
  color: #f7d6d0;
  transform: rotateY(180deg);
}

.container4 {
  flex-direction: row;
}

.show {
  display: block;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 5;
  height: 200px;
  top: 0;
  left: 0;
  background-color: #21b6a8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 14px 14px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  text-shadow: 2px 2px 5px gray;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 18px;
  cursor: pointer;
  color: #21b6a8;
  background-color: white;
  padding: 12px 12px;
  border: none;
  margin-left: 720px;
  margin-top: 4px;
}

.openbtn:hover {
  background-color: #21b6a8;
  color: white;
  height: 50px;
  margin-top: 4px;
  padding: 12px 12px;
}
